<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>应用名称</title>
    <link rel="stylesheet" type="text/css" href="css/api.css" />
    <link rel="stylesheet" href="css/bui.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- 依赖库 手机调试的js引用顺序如下 -->
    <script src="js/zepto.js"></script>
    <script src="js/plugins/fastclick.js"></script>
    <!-- BUI库 -->
    <script src="js/api.js"></script>
    <script src="js/bui.js"></script>
    <script src="js/app/_config.js"></script>
    <script>
        bui.ready(function(){
            // 控件及原生调用初始化必须在bui.ready里面
            
        });
    </script>
</head>
<body>
    <div class="bui-page">
        <header class="bui-bar">
            <div class="bui-bar-left">
            </div>
            <div class="bui-bar-main">BUI</div>
            <div class="bui-bar-right">
            </div>
        </header>
        <main>
            <!-- 中间内容 -->
        </main>
        <footer></footer>
    </div>
</body>
</html>
