@charset "utf-8";

// border-radius
@mixin round($round:0.04rem) {
    -webkit-border-radius:$round;
    border-radius:$round;
}

@mixin text-overflow {
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
}
// 多行截取
@mixin text-overflow-line($line:2) { 
  overflow: hidden; 
  display: -webkit-box;
  display: box;
  text-overflow: ellipsis; 
  -webkit-line-clamp: $line; 
  -webkit-box-orient: vertical;
 }

@mixin clear {
    &:after{
      clear:both;
      content:"";
      display:block;
      height:0;
      visibility:hidden;
    }
}

@mixin arrow-up($width:8px,$color:#eee,$active-color:#fff) {
    
    &:before {
      content:"";
      display:block;
      border-width:$width;
      border-style:solid;
      border-color:transparent transparent $color transparent;
      position:absolute;
      top:-$width*2;
      left:50%;
      margin-left:-$width;
      width:0;
      height:0;
      box-sizing: content-box;
      z-index:10;
    }
    &:after {
      content:"";
      display:block;
      border-width:$width;
      border-style:solid;
      border-color:transparent transparent $active-color transparent;
      position:absolute;
      top:-($width*2 - 1) ;
      left:50%;
      margin-left:-$width;
      width:0;
      height:0;
      box-sizing: content-box;
      z-index:11;
    }

}
@mixin arrow-down($width:8px,$color:#eee,$active-color:#fff) {
    &:before {
      content:"";
      display:block;
      border-width:$width;
      border-style:solid;
      border-color:$color transparent transparent transparent;
      position:absolute;
      top:100%;
      left:50%;
      margin-left:-$width;
      width:0;
      height:0;
      box-sizing: content-box;
      z-index:10;
    }
    &:after {
      content:"";
      display:block;
      border-width:$width;
      border-style:solid;
      border-color:$active-color transparent transparent transparent;
      position:absolute;
      top:100% - 1 ;
      left:50%;
      margin-left:-$width;
      width:0;
      height:0;
      box-sizing: content-box;
      z-index:11;
    }

}

// box
@mixin box-center{
    display: -webkit-box;
    display: box; 
    width: 100%;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
        box-align: center;
}
@mixin box-justify{
    display: -webkit-box;
    display: box; 
    width: 100%;
    -webkit-box-pack: justify;
        box-pack: justify;
    -webkit-box-align: center;
        box-align: center;
}
@mixin box-flex($num:1){
    -webkit-box-flex: $num;
        box-flex: $num;
        width:0;
}


